@font-face {
  font-family: 'LocatorWeb-Regular';
  src: url("../font/LocatorWeb-Regular.eot");
  src: url("../font/LocatorWeb-Regular.eot?#iefix") format('embedded-opentype'),
    url("../font/LocatorWeb-Regular.woff") format('woff'),
    url("../font/LocatorWeb-Regular.ttf") format('truetype'),
    url("../font/LocatorWeb-Regular.svg#LocatorWeb-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LocatorWeb-Bold';
  src: url("../font/LocatorWeb-Bold.eot");
  src: url("../font/LocatorWeb-Bold.eot?#iefix") format('embedded-opentype'),
    url("../font/LocatorWeb-Bold.woff") format('woff'),
    url("../font/LocatorWeb-Bold.ttf") format('truetype'),
    url("../font/LocatorWeb-Bold.svg#LocatorWeb-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LocatorWeb-Light';
  src: url("../font/LocatorWeb-Light.eot");
  src: url("../font/LocatorWeb-Light.eot?#iefix") format('embedded-opentype'),
    url("../font/LocatorWeb-Light.woff") format('woff'),
    url("../font/LocatorWeb-Light.ttf") format('truetype'),
    url("../font/LocatorWeb-Light.svg#LocatorWeb-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LocatorWeb-Medium';
  src: url("../font/LocatorWeb-Medium.eot");
  src: url("../font/LocatorWeb-Medium.eot?#iefix") format('embedded-opentype'),
    url("../font/LocatorWeb-Medium.woff") format('woff'),
    url("../font/LocatorWeb-Medium.ttf") format('truetype'),
    url("../font/LocatorWeb-Medium.svg#LocatorWeb-Medium") format('svg');
  font-weight: normal;
  font-style: normal;
}