//COLOR
$hover : #632a79;
$blanco: #ffffff;
//FONTS

//MIXINS
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//$width-name: max-device-width;
$width-name: max-width;
$height-name: max-height;
$tablet: 768px;
$iPhone6: 375px;
$iPhone5: 320px;

@media screen and ($width-name : 1100px) {
	.container {
		width: 100%;
		padding: 0 1rem;
	}
}

@media screen and ($width-name : 970px) {
	.container {
		width: 95%;
	}
	.result {
		&.one {
			.box {
				ul {
					&.info {
						li {
							padding: 1em .5em !important;
							a {
								padding: .5em .7em !important;
							}
						}
					}
				}
			}
		}
	}

}

@media screen and ($width-name : 895px) {
	.section {
		&.two {
			.container {
				ul {
					&.form {
						li {
							span {
								font-size: 1.5em;
							}
							input, 
							select {
								font-size: 1em;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : 860px) {
	
	.result {
		&.one {
			.box {
				ul {
					&.info {
						li {
							padding: .5em .5em !important;
						}
					}
					li {
						&:nth-child(3) {
							padding: 1em 0 0;
						}
					}
				}
			}
		}
	}

}

@media screen and ($width-name : 768px) {
	// .container {
	// 	width: 95%;
	// }
	.section {
		&.one {
			ul {
				flex-direction: column;
				li {
					width: 100%;
					p {
						font-size: 1.7em;
					}
				}
			}
		}
		&.three {
			.title {
				span {
					font-size: .7em;
				}
			}
			.result {
				&.one {
					span {
						&.name {
							font-size: 1.2em;
						}
					}
					.box {
						ul {
							li {
								&:nth-child(4) {
									font-size: 1.1em;
								}
								&:nth-child(5) {
									font-size: 1.1em;
								}
							}
						}
					}
					&.third {
						.box {
							width: 100%;
							ul {
								li {
									text-align: center;
									.product {
										.boxes {
											width: 50% !important;
											margin: 0;
											&.thumb {
												text-align: right;
											}
											&.details {
												span {
													text-align: left;
												}
											}
											img {
												width: auto;
											}
										}
									}
								}
							}
							&.right {
								display: initial;
								min-height: initial;
								p {
									text-align: center;
								}
							}
						}
					}
				}
				&.conoce {
					.container {
						ul {
							li {
								width: 100%;
								min-height: 300px;
								img {
									max-width: 539px;
								}
								&:first-child {
									padding-top: 4em;
									padding-bottom: 0;
								}
								&:last-child {
									justify-content: initial;
									padding-top: 0;
								}
							}
						}
					}
				}
				&.aprende {
					.container {
						p {
							font-size: 1.7em;
						}
						a {
							font-size: 1.4em;
						}
					}
				}
				&.tecnologia {
					.container {
						&> ul {
							&> li {
								width: 100% !important;
							}
						}
						ul {
							li {
								ul.buttons {
									text-align: center;
								}
							}
						}
					}
				}
				&.habitos {
					.box {
						.container {
							span {
								&:first-child {
									font-size: 1.1em;
								}
								&:nth-child(2) {
									font-size: 1.8em;
								}
								&:last-child {
									font-size: 1.5em;
								}
							}
						}
						&.bottom {
							.desktop{
								display:none;
							}
							.mobile{
								display:block;
							}
							ul {
								&.slides {
									li {
										.caption {
											font-size: 1.5em;
											span {
												font-size: .7em;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.section{
		&.two{
			.container{
				.first{
					ul{
						&.form{
							display: block;
							li{
								display: block;
							}
						}
					}
				}
			}
		}
		&.three{
			.result{
				&.third{
					.container{
						.new{
							a{
								max-width: 80%;
							}
						}
					}
				}
				&.one{
					.box>ul{
						padding: 0em 1em;
					}
				}
			}
		}
	}


}

@media screen and ($width-name : 670px) {
	.section {
		&.two {
			.container {
				.title {
					h1 {
						font-size: 2.5em;
					}
				}
				ul {
					&.form {
						li {
							span {
								font-size: 1.2em;
							}
							input, 
							select {
								font-size: .8em;
							}
							select {
								height: 32px;
							}
						}
					}
					&.action {
						margin-top: 100px;
						li {
							margin-left: 0 !important;
							a {
								font-size: 1.7em;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : 550px) {
	.section {
		&.three {
			.title {
				span {
					font-size: .5em;
				}
			}
			.result {
				&.one {
					span {
						&.name {
							font-size: 1.2em;
						}
					}
					.box {
						width: 100%;
					}
				}
				&.aprende {
					.container {
						a {
							width: 36%;
						}
					}
				}
				&.tecnologia {
					.container {
						ul {
							li {
								ul.buttons {
									li {
										padding: .4em 0;
									}
								}
							}
						}
					}
				}
				&.habitos {
					.box {
						&.bottom {
							ul {
								&.slides {
									li {
										.caption {
											font-size: 1em;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : 540px) {
	.section {
		&.two {
			.container {
				.title {
					min-height: 40px;
					h1 {
						font-size: 2em;
					}
					h2 {
						font-size: 1.7em;
					}
				}
				ul {
					&.form {
						li {
							width: 100%;
							span {
								font-size: 1.5em;
							}
							input, 
							select {
								font-size: 1em;
							}
							select {
								height: initial;
							}
						}
					}
					&.action {
						margin-top: 100px;
						li {
							a {
								font-size: 1.7em;
							}
						}
					}
				}
				.third {
					ul.form {
						flex-direction: column;
					}
				}
				.fourth {
					.title {
						h1 {
							font-size: 1.5em;
						}
					}
					ul.form {
						li {
							display: block;
							width: 100% !important;
							margin: 1em 0;
							span {
								line-height: initial;
								font-size: 1.5em;
							}
							&:last-child {
								select {
									width: 40%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : 414px) {
	.header {
		min-height: 100px;
		.container {
			img {
				width: 50%;
			}
			ul {
				top: initial;
				left: 0;
				bottom: 5px;
				max-width: 115px;
				font-size: .9em;
			}
		}
	}
	.section {
		&.two {
			.container {
				// height: initial;
				.title {
					padding: 2em 0;
				}
				ul {
					&.action {
						margin-top: 2em;
					}
				}
			}
		}
	}
}

@media screen and ($width-name : 400px) {
	.section {
		&.three {
			.result {
				&.tecnologia {
					.container {
						& > ul {
							& > li {
								min-height: 400px;
								&:nth-child(2) {
									span {
										&.first {
											font-size: 	2em;
										}
										&.second {
											font-size: .98em;
										}
									}
									p {
										font-size: 1.2em;
									}
									ul {
										&.text {
											font-size: 1em;
										}
									}
								}
							}
						}
						ul {
							li {
								ul.buttons {
									li {
										margin: 0 !important;
									}
								}
							}
						}
					}
				}
				&.habitos {
					.box {
						.container {
							span {
								&:first-child {
									font-size: 1.1em;
								}
								&:nth-child(2) {
									font-size: 1.5em;
								}
								&:last-child {
									font-size: 1.3em;
								}
							}
						}
					}
				}
				&.conoce {
					.container {
						ul {
							li {
								&:nth-child(2) {
									a {
										font-size: 1.5em;
									}
								}
								span {
									font-size: 2em;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : $iPhone6) {
	.section {
		&.two {
			.container {
				.seventh {
					ul.form {
						li {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and ($width-name : $iPhone5) {
	.section {
		&.two {
			.container {
				// height: initial;
				.title {
					min-height: 40px;
					padding: 1.5em 0;
					h1 {
						font-size: 1.5em;
					}
					h2 {
						font-size: 1.3em;
					}
				}
				ul {
					&.form {
						li {
							width: 100%;
							font-size: .8em;
						}
					}
					&.action {
						margin-top: 2em;
						li {
							a {
								font-size: 1.7em;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width : 414px) and (max-height : 1000px) {
	.section {
		&.two {
			height: 100%;
			max-height: 1000px;
			.container {

			}
		}
	}

}

@media screen and (max-width : 2000px) and (max-height : 759px) {
	.section {
		.viewport {
			height: auto;
			// max-height: 1000px;
			// .container {

			// }
		}
		&.one {
			.viewport {
				height: 100vh;
			}
		}
	}

}
@media (max-width: 1300px){
	.section{
		&.three{
			.result{
				&.habitos{
					.box{
						&.bottom{
							.slider{
								.container{
									width: 80%;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1050px){
	.section{
		&.three{
			.result{
				&.habitos{
					.box{
						&.bottom{
							.slider{
								.container{
									width: 75%;
									ul{
										&.caption{
											li{
												span{
													&:first-child{
														font-size:1.75em;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 820px){
	.section{
		&.three{
			.result{
				&.habitos{
					.box{
						&.bottom{
							.slider{
								bottom: 0;
								.container{
									width: 60%;
									ul{
										&.caption{
											li{
												span{
													color: #F0912E;
													line-height: 100%;
													&:first-child{
														font-size:1.5em;
														padding: 0 0 0.25em;
														font-weight: bold;
													}
													&:last-child{
														font-size:1em;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.section.three .result.habitos .box.bottom span.previus{
		left: 20px;
	}
	.section.three .result.habitos .box.bottom span.next{
		right: 20px;
	}
}
@media (max-width: 650px){
	.section{
		&.three{
			.result{
				&.habitos{
					.box{
						&.bottom{
							.slider{
								.container{
									width: 72%;
									ul{
										&.caption{
											li{
												span{
													&:first-child{
														font-size:1.2em;
													}
													&:last-child{
														font-size:0.9em;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 500px){
	.section{
		&.three{
			.result{
				&.habitos{
					.box{
						&.bottom{
							.slider{
								.container{
									width: 86%;
									ul{
										&.caption{
											li{
												span{
													&:first-child{
														font-size:1em;
														line-height: 90%;
													}
													&:last-child{
														font-size: 0.8em;
														line-height: 90%;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.section.three .result.habitos .box.bottom span.previus, .section.three .result.habitos .box.bottom span.next{
		width: 5%;
		height: auto;
		display: block;
		padding: 15% 0 0;
	}
	.section.three .result.habitos .box.bottom span.previus{
		left: 0;
	}
	.section.three .result.habitos .box.bottom span.next{
		right: 0;
	}
	.section.three .result.habitos .box.bottom span.previus img, .section.three .result.habitos .box.bottom span.next img{
		width: 100%;
	}
}