@import 'font.scss';
@import 'fontello.css';


//MIXIN
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin opacity($nAb, $nDec) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$nAb)";
	filter: alpha(opacity=$nAb);
	-moz-opacity:$nDec;
	-khtml-opacity: $nDec;
	opacity: $nDec;
}
//VARS
$negro: #000;
$blanco: #fff;
$gris: #F0F1F1;
$boton: #F0912E;
$blue: #008DCB;

$regular: 'LocatorWeb-Regular';
$bold:'LocatorWeb-Bold';
$light:'LocatorWeb-light';
$medium:'LocatorWeb-Medium';

.limpiar:after{ content:"";display:block;height:0;clear:both;visibility:hidden; }
.limpiar{ display:inline-block; }
.limpiar{ display:block; }
* html .limpiar{ height:1px; }

body {
	font-family: $regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	cursor:pointer;
}

// RESET
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.container {
	width: 100%;
	max-width: 1024px;
	// max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header {
	background: $blanco;
	position: fixed;
	width: 100%;
	text-align: center;
	-webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.5);
	z-index: 1;
	.container {
		position: relative;
		img {
			padding: 0 0 2em;
		}
		ul {
			background: #3b5998;
			color: $blanco;
			border-radius: 2px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 31px;
			li {
				display: inline-block;
				vertical-align: middle;
				padding: .5em;
				font-size: .9em;
				a {
					color: $blanco;
				}
				&:first-child {
					border-right: 1px solid #394F85;
					margin-right: -4px;
				}
				&:last-child {
					border-left: 1px solid #667CAC;
				}
			}
		}
	}
}

.section {
	.viewport {
		height: 100vh;
	}
	.container {
		padding-top: 127px;
		a {
			&.btn {
				background: $boton;
				color: $blanco;
				font-size: 2em;
				padding: .3em 1.4em;
			}
		}
		.title {
			display: block;
			padding: 4em 0;
			min-height: 100px;
			text-transform: uppercase;
			h1, h2 {
				margin: 0;
			}
			h1 {
				font-size: 3em;
			}
			h2 {
				font-size: 2em;
			}
		}
	}
	ul{
		&.form{
			li{
				&.disabled{
					@include opacity(25, 0.25);
				}
				select{
					option{
						&:disabled {
							display: none;
						}
					}
				}
			}
		}
	}
	&.one {
		//display: none;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			text-align: center;
			li {
				width: 50%;
				img {
					width: 100%;
				}
				p {
					font-size: 2.5em;
					text-transform: uppercase;
				}
			}
		}
	}
	&.two {
		display: none;
		background: url(../img/beach.jpg) no-repeat center top;
		// background-size: 100% 100%;
		// height: 1000px;
		.container {
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			// align-items: center;
			color: $blanco;
			text-align: center;
			ul {
				&.form {
					width: 100%;
					@include clearfix;
					li {
						float: left;
						width: 30.66%;
						text-align: left;
						margin-right: 4%;
						&:last-child {
							margin-right: 0;
						}
						span {
							font-size: 2em;
							line-height: 250%;
						}
						input {
							width: 100%;
							padding: .6em;
							border: none;
							box-sizing: border-box;
							font-size: 1.2em;
							color: #919396;
							&::-webkit-input-placeholder {
								color: #919396;
							}
						}
						select {
							background: url(../img/select.jpg) no-repeat right center $blanco;
							color: #919396;
							width: 100%;
							height: 46px;
							padding: .75em 3em .75em 1em;
							font-size: 1.2em;
							line-height: 100%;
							cursor: pointer;
							border: none;
							-webkit-appearance: none;
							-webkit-border-radius: 0;
						}
					}
				}
				&.action {
					margin: 150px 0 0;
					li {
						display: inline-block;
						padding: 1em 0;
						a {
							display: block;
							width: 150px;
						}
						&:last-child {
							margin-left: 1em;
						}
					}
				}
			}
			.first {
				//display: none;
				ul.form {
					display: flex;
					li {
						float: initial;
						display: inline-block;
					}
				}
			}
			.second {
				display: none;
			}
			.third {
				display: none;
				ul {
					&.form {
						display: flex;
						justify-content: center;
						li {
							float: none;
						}
					}
				}
			}
			.fourth {
				display: none;
				ul {
					&.form {
						li {
							float: none;
							display: inline-block;
							width: 29%;
							margin: 0 1em 0;
							span {
								font-size: 1.95em;
								// line-height: initial;
							}
							&:last-child {
								width: 50%;
								display: flex;
								align-items: center;
								margin: 2em auto 0;
								span {
									padding-right: 1em;
								}
								select {
									width: 20%;
								}
							}
						}
					}
					&.action {
						margin: 80px 0 0 0;
					}
				}
			}
			.fifth {
				display: none;
				ul {
					&.form {
						li {
							float: none;
							display: inline-block;
						}
					}
				}
			}
			.sixth {
				display: none;
			}
			.seventh {
				display: none;
				ul {
					&.form {
						li {
							float: none;
							display: inline-block;
						}
					}
				}
			}
		}
	}
	&.three {
		display: none;
		.title {
			background: #008DCB;
			text-transform: uppercase;
			color: $blanco;
			font-size: 3em;
			text-align: center;
			span {
				display: block;
				padding: 20px 0;
			}
		}
		.result {
			.container {
				padding: 0;
				color: #241F21;
			}
			&.one {
				@include clearfix;
				span {
					display: block;
					text-transform: uppercase;
					&.name {
						text-align: center;
						background: #F0F1F1;
						/*text-transform: uppercase;*/
						padding: 1em 0;
						// margin: 3em 0 1em;
						margin: 1em 0;
						font-size: 1.5em;
					}
				}
				.box {
					float: left;
					width: 50%;
					ul {
						box-sizing: border-box;
						li {
							.product {
								min-height: 215px;
								height: 100%;
								@include clearfix;
								.boxes {
									float: left;
									margin-right: 5%;
									min-height: 215px;
									&:first-child {
										width: 25%;
									}
									&:last-child {
										width: 70%;
										margin-right: 0;
									}
									&.thumb {
										position: relative;
										margin: 0 auto;
    									width: 46%;
										img {
											height: 100%;
											@include center;
										}
									}
									&.details {
										// display: flex;
										// flex-direction: column;
										// justify-content: space-around;
										min-height: 215px;
										width: 50%;
										& > span {
											&:first-child {
												margin: 1.5em 0;
											}
										}
										span {
											&:first-child {
												color: $blue;
												font-family: $medium;
												font-size: 1.2em;
												text-transform: uppercase;
											}
											&:last-child {
												.strong {
													font-family: $bold;
													color: $negro;
													font-size: 1.5em;
												}
											}
										}
									}
								}
							}
							ul {
								text-align: center;
								li {
									display: inline-block;
									padding: 2em 1em;
									a {
										display: block;
										padding: .7em 1em;
										background: $boton;
										color: $blanco;
										// width: 150px;
										width: 165px;
										border-radius: 2px;
										font-size: 1.2em;
										&:hover {
											background: $blue;
										}
									}
								}
							}
							&:nth-child(3),
							&:nth-child(4),
							&:nth-child(5) {
								text-align: center;
							}
							&:nth-child(3) {
								color: $boton;
								font-family: $bold;
								font-size: 1.3em;
							}
							&:nth-child(4) {
								font-size: 1.4em;
								font-family: $light;
								p {
									margin-top: 0;
								}
							}
							&:nth-child(5) {
								font-size: 1.4em;
								font-family: $bold;
							}
						}
					}
				}
				.box > ul {
					padding: 2em 1em;
				}
			}
			&.third {
				background: $gris;
				.container {
					.name {
						color: $blue;
						font-family: $medium;
						font-size: 1.7em;
						margin: 0;
						padding: 1.5em 0 1em;
					}
					.clear {
						@include clearfix;
					}
					.box {
						min-height: 393px;
						&.right {
							display: flex;
							justify-content: center;
							align-items: center;
							p {
								font-family: $light;
								font-size: 1.4em;
								span {
									color: $boton;
									font-family: $bold;
								}
							}
						}
					}
					.new {
						text-align: center;
						a {
							display: block;
							background: $blue;
							padding: 0.75em 1em;
							color: $blanco;
							max-width: 35%;
							margin: 0 auto 2em;
							text-transform: initial;
							font-size: 1.3em;
							border: 1px solid $blue;
							&:hover{
								background: $blanco;
								color: $blue;
							}
						}
					}
				}
			}
			&.conoce {
				.container {
					ul {
						@include clearfix;
						li {
							float: left;
							width: 50%;
							min-height: 400px;
							padding: 2em;
							box-sizing: border-box;

							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
							img {
								width: 100%;
							}
							span {
								display: block;
								text-transform: uppercase;
								font-size: 3em;
							}
							a {
								margin-top: 1em;
							}
						}
					}
				}
			}
			&.aprende {
				background: $blue;
				.container {
					padding: 1em;
					text-align: center;
					p {
						color: $blanco;
						font-size: 2.5em;
						strong {
							font-size: .8em;
							font-family: $bold;
						}
					}
					a {
						display: block;
						width: 25%;
						margin: 0 auto 1em;
						background: $blanco;
						color: $blue;
						font-family: $light;
						&:hover {
							background: $boton;
							color: $blanco;
						}
					}
				}
			}
			&.tecnologia {
				.container {
					&> ul {
						@include clearfix;
						&> li {
							// width: 50%;
							height: 100%;
							min-height: 618px;
							float: left;
							padding: 2em;
							box-sizing: border-box;
							&:first-child {
								width: 40%;
								display: flex;
								justify-content: center;
								align-items: center;
								img {
									width: 100%;
									max-width: 403px;
								}
							}
							&:last-child {
								width: 60%;
							}
						}
					}
					ul {
						li {
							span {
								display: block;
								// font-size: 2.5em;
								text-transform: uppercase;
								line-height: 90%;
								&.first {
									font-size: 5em;
									font-family: $light;
									strong {
										font-family: $bold;
									}
								}
								&.second {
									font-size: 2.47em;
									font-family: $light;
								}
							}
							p {
								font-size: 2.2em;
								font-family: $light;
								margin-bottom: .5em;
							}
							ul {
								&.text {
									font-size: 1.5em;
									li {
										line-height: 150%;
									}
								}
								&.buttons {
									padding: 2em 0 0;
									li {
										display: inline-block;
										vertical-align: bottom;
										a.btn {
											display: block;
											background: $blue;
											width: 130px;
											padding: .5em 1em;
											font-size: 1.5em;
											color: $blanco;
											&:hover {
												background: $boton;
											}
										}
										&:first-child {
											margin-right: 2em;
										}
										&:last-child {
											margin-left: 1em;
										}
									}
								}
							}
						}
					}
				}
			}
			&.habitos {
				.box {
					&.top {
						background: $gris;
						text-align: center;
						padding: 3.5em 0;
						span {
							display: block;
							&:nth-child(2),
							&:nth-child(3) {
								color: $blue;
							}
							&:nth-child(2) {
								text-transform: uppercase;
								font-size: 2.5em;
								font-family: $bold;
							}
							&:first-child {
								font-size: 1.5em;
							}
							&:last-child {
								font-size: 2em;
								font-family: $bold;
							}
						}
					}
					&.bottom {
						position: relative;
						img {
							display: block;
							width: 100%;
						}
						.mobile{
							display:none;
						}
						.slider {
							position: absolute;
							bottom: 50px;
							left: 0;
							width: 100%;
							.container {
								ul.caption {
									li {
										color: $blanco;
										text-align: center;
										display: none;
										span {
											display: block;
											&:first-child {
												font-size: 2em;
											}
											&:last-child {
												font-size: 1.2em;
											}
										}
										&.activo{
											display: block;
										}
									}
								}
							}
							ul.frames {
								text-align: center;
								li {
									display: inline-block;
									background: rgba(255,255,255,.5);
									margin: .7em .2em;
									width: 10px;
									height: 10px;
									border-radius: 50%;
									&:hover {
										background: $blanco;
										cursor: pointer;
									}
									&.active {
										background: $blanco;
									}
								}
							}
						}
						span {
							z-index:1;
							&.previus,
							&.next {
								display: initial;
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;
								height: 78px;
								cursor: pointer;
								img {
									width: initial;
								}
							}
							&.previus {
								left: 50px;
							}
							&.next {
								right: 50px;
							}
						}
					}
				}
			}
		}
	}
}


@import 'queries.scss';




























